In [7]:
import pandas as pd
import os
import dask.dataframe as dd
df = dd.read_csv('data/*tripdata.csv', dtype={'end station id': 'float64',
       'start station id': 'float64'})

In [8]:
df.info()
df = df.compute()

<class 'dask.dataframe.core.DataFrame'>
Columns: 15 entries, tripduration to gender
dtypes: object(5), float64(6), int64(4)

In [9]:
df.to_csv("data/Combined_JC2018.csv")

In [10]:
df = pd.read_csv("data/Combined_JC2018.csv", encoding="utf-8")
df.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183.0,Exchange Place,40.716247,-74.033459,3199.0,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183.0,Exchange Place,40.716247,-74.033459,3199.0,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183.0,Exchange Place,40.716247,-74.033459,3199.0,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183.0,Exchange Place,40.716247,-74.033459,3267.0,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183.0,Exchange Place,40.716247,-74.033459,3639.0,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1